<img src="DBML_search_all.png" width="1000"/>

In [1]:
import pandas as pd

# Load the data from the uploaded files with specific data types for the codes
search_hospital_df = pd.read_csv('search_hospital/search_hospital.csv', dtype={'Login Code': str})
search_tambon_df = pd.read_csv('search_tambon/search_tambon.csv', dtype={'Login Code': str})                    # Ensure 6 characters
search_village_df = pd.read_csv('search_village/search_village.csv', dtype={'Login Code': str})                 # Ensure 8 characters
search_school_df = pd.read_csv('search_school/search_school.csv', dtype={'Login Code': str, 'รหัส รพ.สต': str})  # Ensure 10 characters for Login Code

In [2]:
# Renaming columns to match the DBML format
search_hospital_df.rename(columns={'จังหวัด': 'prov', 'อำเภอ': 'dist', 'ตำบล': 'subdist', 'ชื่อหน่วยงาน/รพสต.': 'hospname', 'Login Code': 'code9'}, inplace=True)
search_tambon_df.rename(columns={'จังหวัด': 'prov', 'อำเภอ': 'dist', 'ตำบล': 'subdist', 'Login Code': 'subdistcode'}, inplace=True)
search_village_df.rename(columns={'จังหวัด': 'prov', 'อำเภอ': 'dist', 'ตำบล': 'subdist', 'ชื่อหมู่บ้าน': 'vill', 'Login Code': 'villcode', 'รหัส รพ.สต': 'code9'}, inplace=True)
search_school_df.rename(columns={'จังหวัด': 'prov', 'อำเภอ': 'dist', 'ตำบล': 'subdist', 'ชื่อโรงเรียน': 'sch', 'Login Code': 'schcode', 'รหัส รพ.สต': 'code9'}, inplace=True)

In [3]:
# Display the head of each dataframe
search_hospital_df.head()

,prov,dist,subdist,hospname,code9
0,กรุงเทพมหานคร,เขตจตุจักร,ลาดยาว,คลินิกทันตกรรมสตอรี่เดนทรัลโฮม,004139500
1,กรุงเทพมหานคร,เขตดินแดง,ดินแดง,ประชาสุขคลินิกเวชกรรม,004131600
2,กรุงเทพมหานคร,เขตดอนเมือง,ดอนเมือง,คลินิกทันตกรรมบ้านหมอเม,004139600
3,กรุงเทพมหานคร,เขตบางกอกน้อย,บางขุนนนท์,ประภัศร์คลินิกทันตกรรม,004139800
4,กรุงเทพมหานคร,เขตบางซื่อ,บางซื่อ,คลินิกเฉพาะทางด้านเวชกรรมไตเทียมประชาราษฎร์,004139900

In [4]:
search_tambon_df.head() #subdistrict

            prov    dist          subdist subdistcode
0  กรุงเทพมหานคร  พระนคร        เขตพระนคร      100100
1  กรุงเทพมหานคร  พระนคร  พระบรมมหาราชวัง      100101
2  กรุงเทพมหานคร  พระนคร   วังบูรพาภิรมย์      100102
3  กรุงเทพมหานคร  พระนคร       วัดราชบพิธ      100103
4  กรุงเทพมหานคร  พระนคร      สำราญราษฎร์      100104

In [5]:
search_village_df.head()

          prov              dist     subdist         vill  villcode      code9
0  สมุทรปราการ  เมืองสมุทรปราการ  สำโรงเหนือ        ลิขิต  11010201        NaN
1  สมุทรปราการ  เมืองสมุทรปราการ  สำโรงเหนือ     ทหารเรือ  11010202        NaN
2  สมุทรปราการ  เมืองสมุทรปราการ  สำโรงเหนือ       หัวป่า  11010203  000093300
3  สมุทรปราการ  เมืองสมุทรปราการ  สำโรงเหนือ         ใหญ่  11010204  000093300
4  สมุทรปราการ  เมืองสมุทรปราการ  สำโรงเหนือ  คลองกระทุ่ม  11010205        NaN

In [6]:
search_school_df.head()

,prov,dist,subdist,sch,schcode,code9
0,สมุทรปราการ,เมืองสมุทรปราการ,ท้ายบ้าน,ปราณีเนาวบุตร,1111100046,NaN
1,สมุทรปราการ,เมืองสมุทรปราการ,บางเมือง,อนุบาลบ้านแสงตะวัน,1111100143,000094200
2,สมุทรปราการ,เมืองสมุทรปราการ,เทพารักษ์,อนุบาลพัฒนาสุข,1111100007,000094200
3,สมุทรปราการ,เมืองสมุทรปราการ,ท้ายบ้านใหม่,อนุบาลเคหะบ้านใหม่,1111100017,NaN
4,สมุทรปราการ,บางบ่อ,บางเพรียง,อิสลามสมุทรปราการ (มะซออนุสรณ์),1111100057,000007700